# Files specific to (direnv)[https://direnv.net/]
.envrc
.direnv/

# Files specific to (venv)[https://docs.python.org/3/library/venv.html]
# Note: used `uv` CLI for virtual environment creation [https://github.com/astral-sh/uv?tab=readme-ov-file#getting-started]
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
dist/
build/
*.whl

# Django stuff:
*.log
*.pot
*.pyc
*.mo
*.sqlite3
db.sqlite3
media/
staticfiles/

# If your build process includes static file compression and generation, add:
static/

# If you are using Django Compressor
COMPRESSOR_OUTPUT_DIR/

# Local Django settings
local_settings.py

# MacOS metadata
.DS_Store

# Pycharm project settings
.idea/

# VSCode project settings
.vscode/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Environments
.env
*.env

# Node modules (if you have a frontend using Node)
node_modules/

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
